{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'comment.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.nickname'|trans, 'comment.nickname') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'comment.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.item'|trans, 'comment.item.title') }}</th>
                {% if is_granted('COMMENT_DELETE') %}
                    <th>{{ 'label.actions'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.email }}</td>
                    <td>{{ comment.nickname }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt|format_date('long') }}</td>
                    <td>{{ comment.item.title }}</td>
                    <td>
                        {% if is_granted('COMMENT_DELETE', comment) %}
                            <a href="{{ url('comment_delete', {id: comment.id}) }}" class="btn btn-danger btn-sm" title="{{ 'action.delete'|trans }}">
                                <i class="bi bi-trash"></i> {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}