{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  category.title }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
        </dl>
        <p>
            <a href="{{ url('category_items', {'id': category.id}) }}" class="btn btn-info btn-sm" title="{{ 'action.view_category_items'|trans }}">
                <i class="bi bi-search"></i> {{ 'action.view_category_items'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('category_index') }}" class="btn btn-light" title="{{ 'action.back_to_list'|trans }}">
                <i class="bi bi-arrow-left"></i> {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.record_not_found'|trans
        } %}
    {% endif %}
{% endblock %}